*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ctn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ctn img{
    display: flex;
    width: fit-content;
    height: 120px;
    cursor: pointer;
}

.ctn video{
    display: flex;
    width: fit-content;
    height: 120px;
    cursor: pointer;
}