*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ctn{
    display: flex;
    gap: 20px;
}

.imgs{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
}

.ctn img{
    display: flex;
    width: fit-content;
    height: 120px;
    cursor: pointer;
}

.ctn video{
    display: flex;
    width: fit-content;
    height: 120px;
    cursor: pointer;
}

.badges{
    display: flex;
    width: 20%;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 10px;
}

.badges img{
    display: flex;
    width: 100px;
    height: fit-content;
}